.prato {
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    margin: 8px 0;
}

.prato .imagem-conteiner {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.prato .conteudo {
    padding: 8px;
}